<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" forceCoversAnnotation="true" beStrictAboutCoversAnnotation="true" bootstrap="bootstrap.php" colors="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
    <include>
      <directory suffix=".php">../src</directory>
    </include>
    <report>
      <clover outputFile="../reports/clover.xml"/>
      <html outputDirectory="../reports/unit" highLowerBound="100"/>
      <text outputFile="php://stdout" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuite name="UnitTests">
    <directory suffix="Test.php">unit</directory>
  </testsuite>
  <logging/>
</phpunit>
