{% extends 'layout/base.twig' %}

{% block content %}

    <div class="content">
        <h2>Users</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Books</th>
                <th>Trust</th>
                <th>lastLogin</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username|e }}</td>
                    <td>{{ user.email|e }}</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2020-02-12 12:33</td>
                    <td>
                        <a href="/admin/user/edit?id={{ user.id }}" class="icon"><i class="far fa-edit"></i></a>
                        <a href="/admin/user/delete?id={{ user.id }}" class="icon"><i class="far fa-trash-alt"></i></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

{% endblock %}
