<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SharedBookshelf</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
</head>
<body>
    BASE
    <div id="sidebar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="debug">
        DebugLevel: {{ debug }}
        {% block debug %}{% endblock %}
    </div>
</body>
</html>