{% extends 'layout/base.twig' %}

{% block content %}
    <div class="content">
        <h2>ImageSources</h2>
        <p>
            anu rocks - freeicons.io,
            Muhammad Haq - freeicons.io,
        </p>
    </div>
{% endblock %}
