{% extends 'layout/base.twig' %}

{% block content %}
    <div class="content">
        <h2>Login</h2>
        <p>
            Welcome back
        </p>

        <div class="columns">
            <div class="column">
                {% include 'login_form.twig' %}
            </div>
            <div class="column">
                -
            </div>
        </div>

    </div>
{% endblock %}
