<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SharedBookshelf</title>
    <link rel="icon" type="image/png" sizes="128x128"  href="/assets/images/logo.png">

    <link rel="stylesheet" href="/assets/styles/bulma.css">
    <link rel="stylesheet" href="/assets/styles/bulma_tooltip.css">
    <link rel="stylesheet/less" type="text/css" href="/assets/styles/raw.less" />
    <script src="/assets/javascript/less-dev.js" ></script>
    <script src="/assets/javascript/bulma.js"></script>
</head>
<body>
{% include 'layout/top.twig' %}

    <div class="container">
    {% block content %}{% endblock %}
    </div>

    <div id="debug">
        {% include 'layout/debug.twig' %}
    </div>

    <script>
        var burgerMenu = document.querySelector('.navbar-burger');

        burgerMenu.onclick = function() {
            document.querySelector('#hamburgerContent').classList.toggle('is-active')
            //document.querySelector('.dropdown-menu').classList.toggle('is-active')
            document.querySelector('.navbar-burger').classList.toggle('is-active')
        }
    </script>

    {% include 'layout/footer.twig' %}
</body>
</html>