<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SharedBookshelf</title>
    <link rel="icon" type="image/png" sizes="128x128" href="/assets/images/logo.png">

    <link rel="stylesheet" href="/assets/styles/bulma.css">
    <link rel="stylesheet" href="/assets/styles/bulma_tooltip.css">
    <link rel="stylesheet/less" type="text/css" href="/assets/styles/raw.less"/>
    <script src="/assets/javascript/less-dev.js"></script>
    <script src="/assets/javascript/bulma.js"></script>
</head>
<body>

    {% include 'layout/top.twig' %}

    <section class="section mr-0 ml-0">
        <div class="container">
            <div class="columns">
                <div class="column is-10 mt-6">
                    {% block content %}{% endblock %}
                </div>
                <div class="column is-2">
                    <div class="is-sticky">
                        {% include 'layout/debug.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section p-0">
        {% include 'layout/footer.twig' %}
    </section>

    <script src="/assets/javascript/custom.js"></script>
</body>
</html>