<nav class="footer navbar is-fixed-bottom">
    <div class="container">
        <div class="content has-text-centered">
            Code: <a href="https://github.com/xuedi/sharedBookshelf">github</a> -
            Licence: <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GPL2</a> -
            Copyright: <a href="https://github.com/xuedi">Daniel Koch</a> -
            Image: <a href="/images">sources</a> -
            Legal: <a href="terms">Terms</a> / <a href="privacy">Privacy</a> -
        </div>
    </div>
</nav>