<nav class="footer navbar is-fixed-bottom">
    <div class="container">
        <div class="content has-text-centered">
            <a href="https://github.com/xuedi/sharedBookshelf">SharedBookshelf</a> - The source code is licensed under
            GPL2 - copyright 2020 Daniel Koch
        </div>
    </div>
</nav>