<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="logo" href="/">
            <img src="/assets/images/logo.png" width="32" height="32" alt="Logo"/>
        </a>
        <div class="navbar-start">
            <a class="navbar-item" href="/">sharedBookshelf</a>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="hamburgerContent">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="hamburgerContent">
        <div class="navbar-start">
            <a class="navbar-item">About</a>
            <a class="navbar-item">How it works</a>
            <a href="/admin" class="navbar-item">Admin</a>
        </div>
        <div class="navbar-item">
            Middle
        </div>
            {% if userid %}
                {% include 'layout/top_logged_in.twig' %}
            {% else %}
                {% include 'layout/top_logged_out.twig' %}
            {% endif %}
    </div>
</nav>
