<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="logo" href="/">
            <img src="/assets/images/logo.png" width="32" height="32"  alt="Logo" />
        </a>
        <div class="navbar-start">
            <a class="navbar-item">sharedBookshelf</a>
        </div>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">About</a>
            <a class="navbar-item">How it works</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/signup">Sign up</a>
                    <a class="button is-light" href="/login">Log in</a>
                </div>
            </div>
        </div>
    </div>
</nav>
