<div class="navbar-end">
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-item container p-0">
            <figure class="image m-1 is-48x48">
                <img src="/assets/images/avatar/dummy.jpg" class="is-rounded is-filling" alt="Profile Picture" id="profilePicture">
            </figure>
        </a>

        <div class="navbar-dropdown is-right">
            <a class="navbar-item">
                About
            </a>
            <a class="navbar-item">
                Jobs
            </a>
            <a class="navbar-item">
                Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/login/exit">
                Logout
            </a>
        </div>
    </div>
</div>
